@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>This application is a prototype for a mandatory school project. It displays various types of data measured at stations around denmark in chart format, for easier understanding.</p>
